[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"

[packages]
torch = "~=1.5"
torchvision = "~=0.6"
opencv-python = "~=4.2"
scikit-image = "~=0.17"
scipy = "~=1.4"
requests = "~=2.23"
Pillow = "~=7.1"

[requires]
python_version = "3.6"
